@font-face {
    font-family: "Fontin Smallcaps";
    src: url("../fonts/FontinSmallCaps/fontin-smallcaps.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fontin Regular";
    src: url("../fonts/FontinRegular/fontin-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
:root{
    --inventory-width: calc(635 *100vw/2000);
}
html {
    background-color: #000;
}

.openTradeButton {
    position: absolute;
    top: 14%;
    left: 12.5%;
    z-index: 12;
}

.openTradeButton {
    font-family: "Fontin Smallcaps";
    background-color: rgba(0, 0, 0, 0);
    background: url("~/assets/buttons/button_normal_left.png") top left no-repeat, url("~/assets/buttons/button_normal_right.png") top right no-repeat, url("~/assets/buttons/button_normal_middle.png") top center repeat-x;
    background-size: contain;
    width: 8vw;
    height: 3.5vh;
    border: 0px;
    padding: 0px;
    color: #fec076;
    font-size: 0.85vw;
}

.openTradeButton:active {
    background: url("~/assets/buttons/button_active_left.png") top left no-repeat, url("~/assets/buttons/button_active_right.png") top right no-repeat, url("~/assets/buttons/button_active_middle.png") top center repeat-x;
    background-size: contain;
}

.openTradeButton:hover {
    background: url("~/assets/buttons/button_hover_left.png") top left no-repeat, url("~/assets/buttons/button_hover_right.png") top right no-repeat, url("~/assets/buttons/button_hover_middle.png") top center repeat-x;
    background-size: contain;
}


.hideoutWindow {
    background: url("~/assets/hideout2.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
    font-family: "Fontin Smallcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.inventoryWindow {
    text-align: center;
    width: var(--inventory-width);
    height: 100vh;
    font-family: "Fontin Smallcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    position: absolute;
    right: 0px;
    top: 0px;
}

.inventoryWindow .frame {
    z-index: 38;
    position: absolute;
    top: 0px;
    width: calc(var(--inventory-width) * 1256/1270);
    height: calc(var(--inventory-width) * 1536/1270);
    background-image: url("~/assets/inventoryframe.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.inventoryWindow .inventoryGrid {
    position: absolute;
    z-index: 40 !important;
    top: calc(var(--inventory-width) * 25/127);
    left: calc(var(--inventory-width) * 7/127);
    background-image: url("~/assets/inventorygrid.png");
    height: calc(var(--inventory-width) * 1138/1270);
    width: calc(var(--inventory-width) * 1138/1270);
    background-size: contain;
}

.inventoryWindow .text {
    z-index: 39;
    position: absolute;
    top: calc(var(--inventory-width) * 106/1270);
    left: calc(var(--inventory-width) * 424/1270);
    width: calc(var(--inventory-width) * 40/127);
    height: calc(var(--inventory-width) * 16/127);
    color: #000;
    font-size: calc(var(--inventory-width) * 48 /1270);
}

.inventoryWindow .currency {
    z-index: 38;
    position: absolute;
    top: calc(var(--inventory-width) * 1416/1270);
    left: calc(var(--inventory-width) * 424/1270);
    width: calc(var(--inventory-width) * 40/127);
    height: calc(var(--inventory-width) * 16/127);
    color: #fff;
    font-size: calc(var(--inventory-width) * 48 /1270);
}

.inventoryWindow .currency img {
    display: inline;
    height: calc(var(--inventory-width) * 48 /1270);
    width: calc(var(--inventory-width) * 48 /1270);
    vertical-align: center;
}

.inventoryWindow .bottomframe {
    z-index: 37 !important;
    position: absolute;
    bottom: 0px;
    width: var(--inventory-width);
    height: calc(100vh - calc(var(--inventory-width) * 1436/1270));
    background: url("~/assets/inventoryframebottom_top.png") center top no-repeat, url("~/assets/inventoryframebottom_bottom.png") center bottom no-repeat, url("~/assets/inventoryframebottom_middle.png") center center repeat-y;
    background-size: contain;
}

.divStackText {
    position: relative;
    font-size: calc(var(--inventory-width) * 12 /500);
    bottom: calc(var(--inventory-width) * 8 /105);
    right: calc(var(--inventory-width) * 3 /112);
}
.divStackTextHover{
    position: relative;
    font-size: calc(var(--inventory-width)  * 12 /500);
    bottom: calc(var(--inventory-width) * 8 /105);
    right: 0px; 
}
.uibar {
    z-index: 39;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22vh;
    background-image: url("~/assets/uibar.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.uibar .bgmButton {
    position: absolute;
    bottom: 22%;
    left: 12.85%;
    width: 2.3%;
    height: 26%;
    background-image: url("~/assets/bgm/pausebgm.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 40;
    cursor: pointer;
}

.uibar .bgmButton.muted {
    background-image: url("~/assets/bgm/playbgm.png");
}

.uibar .bgmButtonText {
    position: absolute;
    bottom: 15%;
    left: 13.2%;
    width: 2.3%;
    height: 5%;
    z-index: 40;
    font-size: 0.8vw;
    color: #fec076;
    font-family: "Fontin Smallcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.hortistation {
    text-align: center;
    --hortistation-width: calc(1160 *100vw/2500);
    width: var(--hortistation-width);
    height: calc(var(--hortistation-width) * 1714/2320);
    font-family: "Fontin Smallcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    top: calc(var(--hortistation-width) * 5/58);
    left: calc(var(--hortistation-width) * 15/50);
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    z-index: 11;
}

.hortistation .hortiWarning {
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 10%;
    width: calc(var(--hortistation-width) * 15/29);
    height: calc(var(--hortistation-width) * 2/29);
    background-image: url("~/assets/horti_warning.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: red;
    line-height: calc(var(--hortistation-width) * 19/290);
    font-size: calc(var(--hortistation-width) * 9/290);
    font-family: "Fontin Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.8s;
}
.hortistation .hortiWarning.nocurrency{
    font-size: calc(var(--hortistation-width) * 3/145);
}
.hortistation .hortiWarning.visible {
    opacity: 1;
    transition: opacity 0.2s;
}

.hortistation .frame {
    z-index: 0;
    position: absolute;
    top: 0px;
    width: var(--hortistation-width);
    height: calc(var(--hortistation-width) * 1714/2320);
    background-image: url("~/assets/horticraftstation.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.hortistation .topbar {
    position: absolute;
    left: calc(var(--hortistation-width) * 38/145);
    top: calc(var(--hortistation-width) * 198/2320);
    height: calc(var(--hortistation-width) * 9/232);
    width: calc(var(--hortistation-width) * 25/116);
    line-height: calc(var(--hortistation-width) * 3/145);
}

.hortistation .topbar .text {
    font-family: "Fontin Smallcaps";
    font-weight: lighter;
    color: #000;
    font-size: calc(var(--hortistation-width) * 17/580);
    font-stretch: expanded;
}

.hortistation .button {
    position: absolute;
    left: calc(var(--hortistation-width) * 103/145);
    top: calc(var(--hortistation-width) * 71 /145);
    height: calc(var(--hortistation-width) * 5 /116);
    width: calc(var(--hortistation-width) * 4 /29);
}

.hortistation .button .craftButton {
    font-family: "Fontin Smallcaps";
    background-color: rgba(0, 0, 0, 0);
    background-image: url("~/assets/buttons/horti_active.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(var(--hortistation-width) * 4 /29);
    height: calc(var(--hortistation-width) * 5 /116);
    border: 0px;
    padding: 0px;
    margin: 0;
    color: #9dadd2;
    font-size: calc(var(--hortistation-width) * 3/145);
}

.hortistation .button .craftButton:active {
    background-image: url("~/assets/buttons/horti_disable.png");
}

.hortistation .button .craftButton:hover {
    background-image: url("~/assets/buttons/horti_hover.png");
}

.hortistation .button .craftButton:disabled {
    color: #b2b2b2;
    background-image: url("~/assets/buttons/horti_disabled.png");
}

.hortistation .crafts {
    position: absolute;
    left: calc(var(--hortistation-width) * 5 /58);
    top: calc(var(--hortistation-width) * 5 /29);
    height: calc(var(--hortistation-width) * 55 /116);
    width: calc(var(--hortistation-width) * 125 /232);
    overflow-y: auto;
}

.hortistation .crafts .craft {
    background-image: url("~/assets/horti/horti_craftnormal.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: calc(var(--hortistation-width) * 11 /116);
    width: calc(var(--hortistation-width) * 125 /232);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hortistation .crafts .craft .text {
    color: #7f7f7f;
    font-size: calc(var(--hortistation-width) * 1 /58);
    text-align: left;
    font-family: "Fontin Regular";
    padding: calc(var(--hortistation-width) * 2 /232);
    width: 80%;
}

.hortistation .crafts .craft .cost {
    padding-top: calc(var(--hortistation-width) * 5 /116);
    color: #dedcfe;
    font-size: calc(var(--hortistation-width) * 9 /580);
}

.hortistation .crafts .craft .cost.red {
    color: red;
}

.hortistation .crafts .craft .cost img {
    height: calc(var(--hortistation-width) * 5/145);
    vertical-align: middle;
    border: none;
    display: inline;
}

.hortistation .crafts .craft:hover {
    background-image: url("~/assets/horti/horti_crafthover.png");
}

.hortistation .crafts .craft.selected {
    background-image: url("~/assets/horti/horti_craftactive.png") !important;
}

.hortistation .itemSlot {
    position: absolute;
    left: calc(var(--hortistation-width) * 421 /580);
    top: calc(var(--hortistation-width) * 36 /145);
    height: calc(var(--hortistation-width) * 121 /580);
    width: calc(var(--hortistation-width) * 3 /29);
}

.hortistation .lifeforce {
    position: absolute;
    left: calc(var(--hortistation-width) * 543 /580);
    top: calc(var(--hortistation-width) * 81/290);
    height: calc(var(--hortistation-width) * 3 /58);
    width: calc(var(--hortistation-width) * 3 /58);
}

.hortistation .lifeforce .text {
    font-size: calc(var(--hortistation-width) * 9 /580);
    padding-top: calc(var(--hortistation-width) * 9 /580);
    color: white;
}

.tradewindow {
    position: absolute;
    width: 100%;
    min-width: 745px;
    max-width: 96vw;
    min-height: 88vh;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.3;
    background: url("~/assets/sanctum-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: content-box;
}

.tradewindow .header .logo {
    padding: 5px 0 0;
    max-width: 125px;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
}

.tradewindow .header .menuButtons {
    position: absolute;
    top: 0;
    left: 10px;
}

.tradewindow .header .menuButtons .backToGameButton {
    text-decoration: none;
    color: #00b6ff;
    font-size: 50%;
    padding: 0;
    margin: 0;
}

.tradewindow .header .menuButtons .backToGameButton:hover {
    color: #00d2ff;
}

.tradewindow .header .logo img {
    overflow: hidden;
    max-width: 100%;
}

.tradewindow .header .currency {
    font-family: "Fontin Smallcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    right: 0;
    position: absolute;
    top: 0;
    color: white;
    font-size: 24px;
}

.tradewindow .header .currency img {
    height: 32px;
    width: 32px;
    display: inline;
    vertical-align: center;
}

.tradewindow .searchbar .inputField {
    max-width: 100%;
}

.tradewindow .searchbar .inputField input {
    max-width: 100%;
    width: 100%;
}

.tradewindow .itemSelection {
    color: #fff8e1;
    padding-top: 15px;
    background-color: black;
    line-height: 24px;
    min-height: 18em;
    font-size: 0.8em;
    font-family: "Fontin Smallcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-y: auto;
    height: 66vh;
}

.tradewindow .searchListings {
    overflow-y: auto;
    height: 73vh;
}

.tradewindow .searchbarInputWrapper {
    min-height: 50px;
    min-width: 99%;
    height: 100%;
    width: 100%;
    background-color: #000;
    padding: 7px 7px;
    padding-bottom: 7px;
}

.tradewindow .searchbar .buttons {
    padding-inline-start: 5px;
    padding-bottom: 25px;
}

.tradewindow .searchbar .buttons .searchTextLi {
    background-color: rgba(10, 10, 10, 0.9);
}

.tradewindow .searchbar .buttons .searchText {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0px 0px 0 0;
    text-decoration: none;
    height: 32px;
    padding: 5px;
    color: #e9cf9f;
    font-size: 0.8em;
    font-family: "Fontin Smallcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tradewindow .searchbar .buttons .searchTextLi::before {
    background-image: url("~/assets/tradeSearchIcon.png");
    height: 18px;
    width: 18px;
    content: " ";
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.tradewindow .searchbar .buttons .resetButtonLi::before {
    background-image: url("~/assets/tradeSearchResetIcon.png");
    background-position: 2px 2px;
    height: 18px;
    width: 18px;
    content: " ";
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.tradewindow .searchbar .buttons .resetButtonLi {
    background-color: #5a3806;
    cursor: pointer;
}

.tradewindow .searchbar .buttons .resetButton {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0px 0px 0 0;
    text-decoration: none;
    height: 32px;
    padding: 5px;
    color: #e9cf9f;
    font-size: 0.8em;
    font-family: "Fontin Smallcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tradewindow .searchbar .buttons>li {
    list-style-type: none;
    float: left;
    margin-bottom: -1px;
}

.tradewindow .inputField {
    padding: 10px 8px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 0;
    font-size: 1em;
    line-height: 1.3;
    box-sizing: border-box;
    min-height: 30px;
    background-color: #1e2124;
    font-size: 0.8em;
    font-family: "Fontin Smallcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tradewindow .inputField input {
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    border-radius: 0;
    margin-bottom: 0px;
    padding: 1px 4px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: inline-block;
    min-height: 20px;
    line-height: 20px;
    border: none;
    color: #e2e2e2 !important;
    text-align: left;
    font: inherit;
    margin: 0;
    font-size: inherit;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 0px;
    border-style: inset;
    border-color: #000;
    border-image: initial;
    background-color: #1e2124;
}

.tradewindow .inputField input:focus {
    outline: none;
}

.tradewindow .inputField input::placeholder {
    color: #e2e2e2;
}

.tradewindow .itemSelection .lifeforce img {
    float: left;
    clear: left;
    max-width: 25px;
}

.tradewindow .itemSelection .divcards {
    margin-left: 35px;
    clear: left;
}

.tradewindow .itemSelection .divcards .cards {
    zoom: 0.80;
    line-height: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 20px calc(36vh * 1/ 20);
}

.tradewindow .itemSelection .lifeforce {
    border: 1px solid #1e2124;
    margin: 10px;
    margin-left: 35px;
}

.tradewindow .itemSelection .lifeforce:hover {
    border: 1px solid #777;
    background-color: #222;
}

.tradewindow .itemSelection .divcards .card {
    border: 1px solid #1e2124;
    max-width: var(--card-width);
}

.tradewindow .itemSelection .divcards .card:hover {
    border: 1px solid #777;
    background-color: #222;
}

.tradewindow .itemSelection .selectedItem {
    background-color: #2d3136;
    border-color: #5b636e;
}

.tradewindow .itemSelection .selectedItem:hover {
    background-color: #2d3136 !important;
}

@media screen and (max-width: 600px) {
    .divCard {
        --card-width: calc(360 *100vh/600) !important;
    }

    .tradewindow .itemSelection .divcards .cards {
        zoom: 0.55;
        display: flex;
        flex-wrap: wrap;
    }
}

.tradewindow .searchButton {
    padding: 15px 0 15px;
    width: 20%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
}

.tradewindow .searchButton .search-btn {
    position: relative;
    padding: 6px;
    line-height: 16px;
    min-height: 34px;
    color: #e2e2e2;
    background-color: #0f304d;
    border-color: #4c4c7d;
    width: 100%;
    min-width: auto;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #000;
    white-space: nowrap;
    font-size: 13px;
    border-radius: 0px;
    user-select: none;
    font-family: "Fontin Smallcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tradeListing i {
    font-style: italic;
}

.tradeListing i.flag {
    display: inline-block;
    height: 15px;
    width: 20px;
    vertical-align: text-top;
    background: url("~/assets/flags/GB.png");
}

.tradeListing i.flag.br {
    background: url("~/assets/flags/BR.png");
}

.tradeListing i.flag.ru {
    background: url("~/assets/flags/RU.png");
}

.tradeListing i.flag.th {
    background: url("~/assets/flags/TH.png");
}

.tradeListing i.flag.de {
    background: url("~/assets/flags/DE.png");
}

.tradeListing i.flag.fr {
    background: url("~/assets/flags/FR.png");
}

.tradeListing i.flag.es {
    background: url("~/assets/flags/ES.png");
}

.tradeListing i.flag.jp {
    background: url("~/assets/flags/JP.png");
}

.tradeListing i.flag.kr {
    background: url("~/assets/flags/KR.png");
}

.uniqueItem {
    text-align: center;
    height: 100%;
    font-family: "Fontin Smallcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    user-select: none;
}

.uniqueItem .header {
    background: url("~/assets/unique/headerLeft.png") top left no-repeat, url("~/assets/unique/headerRight.png") top right no-repeat, url("~/assets/unique/headerCenter.png") top center repeat-x;
    color: #af6025;
    font-size: 110%;
}

.uniqueItem .header .itemName {
    line-height: 24px;
}

.uniqueItem .header .baseName {
    line-height: 24px;
}

.uniqueItem .stats {
    padding-top: 5px;
    padding-bottom: 6px;
    background-color: rgba(0, 0, 0, .8);
    color: #7f7f7f;
}

.uniqueItem .stats .implicitArea {
    color: #88f;
}

.uniqueItem .stats .explicitArea {
    color: #88f;
}

.uniqueItem .stats .FlavourText {
    color: #af6025;
}

.uniqueItem .stats .separator {
    background: url("~/assets/unique/seperator.png") center no-repeat;
    height: 7.5px;
    margin: 0.8px;
}


.divCard {
    --card-width: calc(360 *100vw/2000);
    text-align: center;
    width: var(--card-width);
    height: calc(var(--card-width) * 61/ 40);
    font-family: "Fontin Smallcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    user-select: none;
}
.divCard.hover{
    height: calc(var(--card-width) * 63/ 40); 
}

.divCard .image {
    position: absolute;
    width: calc(var(--card-width) * 8/ 9);
    height: calc(var(--card-width) * 11/ 18);
    top: calc(var(--card-width) * 5/ 36);
    left: calc(var(--card-width) *1/ 18);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.divCard .border {
    z-index: 0;
    position: absolute;
    top: 0px;
    width: var(--card-width);
    height: calc(var(--card-width) * 61/ 40);
    background-image: url("~/assets/divination-card.webp");
    background-size: cover;
    background-repeat: no-repeat;
    border-width: 0px;
}

.divCard .topbar {
    height: calc(var(--card-width) * 11/ 72);
    line-height: calc(var(--card-width) * 1/6);
    font-size: calc(var(--card-width) *1/ 18);
    ;
}

.divCard .topbar .text {
    color: #000;
    position: relative;
}

.divCard .stackSize {
    position: absolute;
    left: calc(var(--card-width) * 19 / 180);
    top: calc(var(--card-width) * 13 / 18);
    height: calc(var(--card-width) * 1 / 15);
    width: calc(var(--card-width) * 5 / 36);
    line-height: calc(var(--card-width) * 1 / 15);
    font-size: calc(var(--card-width) *1/ 24);
    color: white;
}

.divCard .Stats {
    position: absolute;
    top: calc(var(--card-width) * 3 / 4);
    height: calc(var(--card-width) * 31 / 40);
    padding-left: calc(var(--card-width) * 1/ 12);
    padding-right: calc(var(--card-width) * 1/ 12);
}

.divCard .Stats .explicitArea {
    height: calc(var(--card-width) * 5 / 18);
    width: calc(var(--card-width) * 8 / 9);
    vertical-align: middle;
    display: table-cell;
    line-height: calc(var(--card-width) * 2 / 45);
    font-size: calc(var(--card-width) *1/ 23);
}

.divCard .Stats .FlavourText {
    height: calc(var(--card-width) * 53 / 120);
    width: calc(var(--card-width) * 8 / 9);
    vertical-align: middle;
    display: table-cell;
    line-height: calc(var(--card-width) * 2 / 45);
    font-size: calc(var(--card-width) * 2 / 45);
    font-size: calc(var(--card-width) *1/ 18);
    color: #af6025;
}

.FlavourText {
    font-style: italic;
    padding-left: calc(var(--card-width) * 1 /72);
    padding-right: calc(var(--card-width) * 1 /72);
}
.divCard .price{
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-left: auto;
    font-size: 18px;
    color:white;
}
.divCard .price img{
    display: inline;
    vertical-align: middle;
    height: 18px;
}
.itemContextMenu {
    z-index: 50;
    position: fixed;
    max-width: 201px;
    background: url("~/assets/contextMenu/contextMenuTop.png") center top no-repeat, url("~/assets/contextMenu/contextMenuBottom.png") center bottom no-repeat, url("~/assets/contextMenu/contextMenuMiddle.png") center repeat-y;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemContextMenu .closeButton {
    position: relative;
    height: 24px;
    width: 24px;
    margin-left: auto;
    margin-top: 8px;
    margin-right: 8px;
    display: block;
    background-image: url("~/assets/contextMenu/contextMenuCloseButton.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.itemContextMenu .closeButton:hover {
    background-image: url("~/assets/contextMenu/contextMenuCloseButtonHover.png");
}

.itemContextMenu .topWrapper {
    margin: 0 auto;
    width: 177px;
    height: 13px;
    background-image: url("~/assets/contextMenu/contextMenuWrapperTop.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.itemContextMenu .bottomWrapper {
    margin: 0 auto;
    width: 177px;
    height: 13px;
    background-image: url("~/assets/contextMenu/contextMenuWrapperBottom.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.itemContextMenu .buttons {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemContextMenu button {
    font-family: "Fontin Smallcaps";
    background-color: rgba(0, 0, 0, 0);
    background: url("~/assets/buttons/button_normal_left.png") top left no-repeat, url("~/assets/buttons/button_normal_right.png") top right no-repeat, url("~/assets/buttons/button_normal_middle.png") top center repeat-x;
    background-size: contain;
    width: 160px;
    height: 35px;
    border: 0px;
    padding: 0px;
    color: #fec076;
    font-size: 18px;
}

.itemContextMenu button:active {
    background: url("~/assets/buttons/button_active_left.png") top left no-repeat, url("~/assets/buttons/button_active_right.png") top right no-repeat, url("~/assets/buttons/button_active_middle.png") top center repeat-x;
    background-size: contain;
}

.itemContextMenu button:hover {
    background: url("~/assets/buttons/button_hover_left.png") top left no-repeat, url("~/assets/buttons/button_hover_right.png") top right no-repeat, url("~/assets/buttons/button_hover_middle.png") top center repeat-x;
    background-size: contain;
}


.rareitem {
    color: #ffff77;
}

.fractured {
    color: #a29162;
}

.default {
    color: #7f7f7f;
}

.normal {
    color: #fff;
}

.uniqueitem {
    color: #af6025;
}

.currencyitem {
    color: #aa9e82;
}

.gemitem {
    color: #1ba29b;
}

.magicitem {
    color: #8888ff;
}

.corrupted {
    color: #d20000;
}

.scourged {
    color: #ff6e25;
}

.crafted {
    color: #b4b4ff;
}

.enchanted {
    color: #b8daf2;
}

.divination {
    color: #0ebaff;
}

.tradeListing {
    line-height: 1.3;
    align-items: center;
    align-items: stretch;
    flex-wrap: wrap;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    padding: 8px 0;
    margin: 0;
    opacity: 1;
    display: flex;
    position: relative;
    transition: opacity 0.5s;
    background: rgba(32, 32, 32, 0.8) !important;
    box-sizing: border-box;
    color: #a38d6d;
    font-size: 0.8em;
}

.tradeListing .details {
    margin-top: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tradeListing .left {
    position: initial;
    width: 25%;
    float: left;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.tradeListing .middle {
    width: 45%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.tradeListing .right {
    position: initial;
    float: left;
    width: 25%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.tradeListing .price {
    margin: 0 10px;
}

.tradeListing .details .price {
    font-family: "Fontin Smallcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

.tradeListing .details .price .per-have {
    height: 18px;
    line-height: 18px;
    font-size: 0.65em;
    text-align: left;
}

.tradeListing .details .price .per-want {
    height: 18px;
    line-height: 18px;
    font-size: 0.65em;
    text-align: left;
}

.tradeListing .details .amount {
    color: #a4a4a4;
}

.tradeListing .details .currency-text {
    color: #aa9e82;
}

.tradeListing .middle.details .price {
    display: flex;
    align-items: center;
}

.tradeListing .details .price .price-left {
    text-align: right;
    padding: 0 8px;
    flex: 1;
}

.tradeListing .details .price>span {
    display: block;
    text-decoration: none;
    padding: 8px;
}

.tradeListing .details .price .price-left .price-block {
    height: 32px;
    line-height: 32px;
}

.tradeListing .details .price .price-block {
    font-size: 0.8em;
}

.tradewindow img {
    display: inline;
}

.tradeListing .details .price img {
    height: 32px;
    vertical-align: middle;
    border: none;
}

.tradeListing .details .price .price-right {
    text-align: left;
    flex: 1;
    padding: 0 8px;
}

.tradeListing .details .info {
    padding: 0;
    margin: 0;
    color: #fff2c7;
}

.tradeListing .profile-link {
    display: inline-block;
    line-height: 15px;
    color: #e9cf9f;
    font-size: 0.7em;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tradeListing .pull-right {
    float: right !important;
}

.tradeListing small {
    font-size: 0.7em;
}

.tradeListing .details .info .stock {
    width: fit-content;
    margin: 0 2px;
    padding: 2px 4px;
    font-family: "Fontin Smallcaps", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #a38d6d;
    font-size: 0.7em;
}

.tradeListing .details .info .stock span {
    color: #a4a4a4;
}

.tradeListing .details .status-online {
    background-color: #309630;
    border: 1px solid #4dc64d;
}

.tradeListing .details .status-afk {
    background-color: #c45f00;
    border: 1px solid #ff8512;
}

.tradeListing .details .status {
    margin-right: auto;
    color: #e2e2e2;
    padding: 1px 5px;
    font-size: 0.7em;
    line-height: 1.6em;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    white-space: nowrap;
    user-select: none;
    font-family: inherit;
    text-transform: none;
    overflow: visible;
    margin: 0;
}

.tradeListing .directWhisper {
    margin-right: auto;
    color: rgb(233, 207, 159);
    padding: 1px 5px;
    font-size: 0.7em;
    line-height: 1.6em;
    border-radius: 0px;
    background-color: #222;
    border-color: #444;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #000;
    white-space: nowrap;
    user-select: none;
    font-family: inherit;
    text-transform: none;
    overflow: visible;
    margin: 0;
}

.tradeListing .directWhisper:hover {
    background-color: #090909;
    border-color: #252525;
}

.tradeListing .details .per-want img {
    height: 16px;
}

.tradeListing .details .per-have img {
    height: 16px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #8d8689 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #8d8689;
    border-radius: 10px;
    border: 3px solid #000000;
}